# Rust
target/

# Node
node_modules/
dist/
playwright-report/
test-results/

# IDE
.DS_Store
.vscode/
*.swp
*.swo

# AI
.opencode
.agents
.serena
skills-lock.json

# Temp
tmp/
.remote-ssh-*

# env
.env
mise.toml
